@import '@fontsource/fira-mono';
@import '@fontsource/fusion-pixel-8px-proportional-kr';
@import 'colors.css';
@import 'utils.css';

:root {
  font-family: 'Fira Mono', monospace;

  --white-w: 34px;
  --white-h: 160px;
  --black-w: 22px;
  --black-h: 100px;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--default);
  color: var(--default-foreground)
}

button {
  background-color: var(--almost-black);
  color: var(--almost-white);
  border: 1px solid var(--almost-white);
  padding: 0.5rem 1rem;
  line-height: 1.1;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

button:hover {
  background-color: var(--almost-white);
  color: var(--almost-black);
  border-color: var(--almost-black)
}

button[data-state="on"] {
  background-color: var(--primary);
  color: var(--primary-foreground);
  border-color: var(--primary-highlight);
}

aside[role="note"] {
  background-color: var(--contrast);
  width: 100%;
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--default-foreground);
  border: var(--primary-highlight) 1px solid;
  box-shadow: 4px 4px 0px var(--primary);
  display: flex;
  gap: 0.5rem;
}

aside[role="note"]::before {
  content: "[i]";
  height: fit-content;
  font-size: 0.8rem;
  display: block;
  background-color: var(--primary);
  color: var(--primary-foreground);
  padding: 0.125rem 0.125rem;
  font-weight: bold;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 1rem;
}