:root {
    --almost-white: #f0f0f0;
    --almost-black: #3c3c3c;
    --grey: lightgrey;
    --black: rgb(40, 40, 40);
    --white: white;
    --indigo: #6b4bcc;
    --indigo-light: #907ccb;
    --neon-green: lawngreen;
    --orange: rgb(236, 129, 47);
    --orange-light: rgb(255, 189, 89);

    --default: var(--almost-white);
    --default-foreground: var(--almost-black);

    --inverse: var(--default-foreground);
    --inverse-foreground: var(--default);

    --contrast: var(--white);

    --primary: var(--indigo);
    --primary-foreground: var(--almost-white);
    --primary-highlight: var(--indigo-light);

    --warning: var(--orange);
    --warning-foreground: var(--almost-white);
    --warning-highlight: var(--orange-light);

    --keys-white: var(--grey);
    --keys-black: var(--almost-black);
    --keys-border-white: var(--black);
    --keys-border-black: var(--black);

    --keys-active-white: var(--primary-highlight);
    --keys-active-black: var(--primary);
}


@media (prefers-color-scheme: dark) {
    :root {
        --default: var(--almost-black);
        --default-foreground: var(--almost-white);

        --inverse: var(--default-foreground);
        --inverse-foreground: var(--default);

        --contrast: var(--black);

        --keys-black: var(--black);
    }
}