@import '@fontsource/fira-mono';
@import '@fontsource/fusion-pixel-8px-proportional-kr';

:root {
  font-family: 'Fira Mono', monospace;

  --default: #f0f0f0;
  --default-foreground: #3c3c3c;

  --inverse: var(--default-foreground);
  --inverse-foreground: var(--default);

  --primary: #6b4bcc;
  --primary-foreground: var(--default);
  --primary-highlight: #907ccb;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--default);
  color: var(--default-foreground)
}

button {
  background-color: var(--inverse);
  color: var(--inverse-foreground);
  border-color: var(--default-foreground);
  border: 1px solid;
  padding: 0.5rem 1rem;
  line-height: 1.1;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

button:hover {
  background-color: var(--default);
  color: var(--default-foreground);
}

aside[role="note"] {
  background-color: white;
  width: 100%;
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--default-foreground);
  border: var(--primary-highlight) 1px solid;
  box-shadow: 4px 4px 0px var(--primary);
  display: flex;
  gap: 0.5rem;
}
aside[role="note"]::before {
  content: "[i]";
  height: fit-content;
  font-size: 0.8rem;
  display: block;
  background-color: var(--primary);
  color: var(--primary-foreground);
  padding: 0.125rem 0.125rem;
  font-weight: bold;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 1rem;
}

/* --- UTILITY --- */

.visible-on-mobile-portrait {
  display: none !important;
}

@media (max-width: 700px) and (orientation: portrait) {
  .visible-on-mobile-portrait {
    display: flex !important;
  }
}

.font-pixel {
  font-family: 'Fusion Pixel 8px Proportional KR', sans-serif;
}