@import '@fontsource/fira-mono';

:root {
  font-family: 'Fira Mono', monospace;

  --default: #f0f0f0;
  --default-foreground: #3c3c3c;

  --inverse: var(--default-foreground);
  --inverse-foreground: var(--default);

  --primary: #6b4bcc;
  --primary-foreground: var(--default);
  --primary-highlight: #907ccb;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--default);
  color: var(--default-foreground)
}

button {
  background-color: var(--inverse);
  color: var(--inverse-foreground);
  border: none;
  padding: 0.5rem 1rem;
  line-height: 1.1;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

button:hover {
  background-color: var(--default);
  color: var(--default-foreground);
}